.section4-container {
  background-color: #f1f1f1;
  padding: 5rem 0rem 5rem 0;
}
.section4-container h2,
.section4-container h3 {
  text-align: center;
}
.course-contents {
  background-color: white;
  border-radius: 10px;
  padding: 3rem 1.5rem 2rem 1.5rem;
  text-align: center;
  position: relative;
}
.profileimg-content {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.profileimg-content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
}
.hours-and-image {
  display: flex;
  align-items: start;
}
.profile-price {
  display: flex;
  gap: 2rem;
  margin-top: 0.8rem;
}
.duration {
  background-color: blue;
  padding: 0 10px 0 10px;
  color: white;
  position: absolute;
  top: 1rem;
  border-radius: 20px;
}
.main-img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.stripe-img {
  position: absolute;
  top: -0.3rem;
  right: 1rem;
}

.lessons-price h5 {
  color: blue;
}
.lessons-price p {
  color: #f57005;
}

@media (max-width: 470px) {
  .section4-container {
    margin-top: 10rem;
  }
  .image-and-bg {
    height: 64rem;
  }
}
@media (max-device-width: 429px) {
  .course-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profileimg-content {
    display: block;
    padding-top: 1rem;
  }
}
