.comingsoon-breadcrumb{
    background-image: url('../../../assets/images/aboutus/images/aboutus-breadcrumbimg.svg');
    background-position: center;
    padding: 6.25rem 0 6.25rem 0;
    margin-top: -8rem;;
}