/* @font-face {
  font-family: "Rubik";
  src: url("../src/fonts/Rubik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
} */

  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General stylings  */

body {
  font-family: "Rubik", sans-serif !important;
}

body h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0.02em;
  color: white;
  text-align: left;

  text-transform: capitalize;
}

@media (max-width:768px){
  body h1{
    font-size: 45px;
  }
}

body h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.02em;
  text-align: center;
  color: black;
  font-size: 44px;
  text-transform: capitalize;
}
body h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
}

body a {
  text-decoration: none;
  color: inherit;
}
body h3 {
  font-size: 30px;
  color: #1d29ff;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
}

/* .container{
  padding-left: 0 !important;
  padding-right: 0 !important;
} */

@media (min-width:1601px){
  .container {
    max-width: 1400px !important;
  
  }
}
@media (min-width: 1400px) and (max-device-width:1600) {
  .container {
    max-width: 1300px !important;
  
  }
}

body textarea{
  resize: none;
}
@media (max-device-width:1366px){
  body h2{
    font-size: 34px;
  }
}